* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
    background-image: url('https://giga.chat/gigachat/files/public/generated/4b9db88c-0dc6-4009-a0c2-9d4a3a1b1ca0');
    background-attachment: fixed;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #343331;
}

.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    width: 42px;
    height: 42px;
}
.logo-txt {
    color:#e9ecef
}

.nav {
    display: flex;
    gap: 20px;
}
.nav-link {
    padding: 8px 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #63625E;
}
.nav-link:hover {
    background-color: #999690;
}

.content {
    padding: 40px 0px;
    max-width: 1000px;
    margin: 55px auto;
}

.dark-bg {
    color: white;
    background-color: #343331;
    padding: 15px;
    margin: 15px;
}

.portfolio {
    margin: 100px 0px;
}
.portfolio h2 {
    margin-bottom: 30px;
}
.portfolio-z {
    display: flex;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f8f9fa;
}
.portfolio-text {
    flex: 1;
}
.portfolio-text h3 {
    margin-bottom: 10px;
}
.portfolio-text p {
    margin-bottom: 8px;
    line-height: 1.5;
}
.portfolio-image {
    flex: 1;
    max-width: 300px;
}
.portfolio-image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    border: 2px solid #ddd;
}


.about {
    margin: 100px 0;
}
.about h2 {
    margin-bottom: 30px;
}
.about-z {
    padding: 15px;
    background-color: #f8f9fa;
}
.about-text h3 {
    margin-bottom: 10px;
}
.about-text p {
    margin-bottom: 8px;
    line-height: 1.5;
}

.contacts {
    margin: 100px 0;
}
.contacts h2 {
    margin-bottom: 30px;
}
.contacts-z {
    display: flex;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f8f9fa;
}
.contacts-text {
    flex: 1;
}
.contacts-text h3 {
    margin-bottom: 10px;
}
.contacts-text p {
    margin-bottom: 8px;
    line-height: 1.5;
}
.contacts-image {
    flex: 1;
    max-width: 300px;
}
.contacts-image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    border: 2px solid #ddd;
}

.footer {
    background-color: #343331;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #dee2e6;
    margin-top: 40px;
}
.footer-content {
    max-width: 800px;
    margin: auto;
}
